<form action="/songs/<%= @song.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
<div>
  <label for="title">Title</label>
  <input id="title" type="text" name="song[title]" value="<%= @song.title %>">
  <label for="artist">Artist</label>
  <input id="artist" type="text" name="song[artist]" value="<%= @song.artist %>">
  <label for="album">Album</label>
  <input id="album" type="text" name="song[album]" value="<%= @song.album %>">
  <label for="genre">Genre</label>
  <input id="genre" type="text" name="song[genre]" value="<%= @song.genre %>">
  <label for="length">Length</label>
  <input id="length" type="text" name="song[length]" value="<%= @song.length %>">
</div>
  <input type="submit" value="Save Changes">
</form>
